@import './_mixins.scss';

.watermark-remover {
  .text-area-container {
    margin-bottom: var(--spacing-lg);
    
    textarea {
      height: 200px;
      
      @include respond-to('sm') {
        height: 180px;
      }
      
      @include respond-to('xs') {
        height: 150px;
        font-size: var(--font-size-sm);
      }
    }
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    
    @include respond-to('sm') {
      width: 100%;
      
      button {
        width: 100%;
        margin-top: var(--spacing-xs);
      }
    }
  }
}
